.idea/
cardwidget/__pycache__/
/old_deckEditor.py
/cardwidget/
/deckeditor/editormodels.py
deckeditor/__pycache__/
/deckeditor/test.py
deckeditor/cardcontainers/__pycache__/
deckeditor/cardcontainers/alignment/__pycache__/
deckeditor/containers/__pycache__/
deckeditor/pixmapload/__pycache__/
deckeditor/undo/__pycache__/
/deckeditor/599.png
/.gitignore
deckeditor/cardadd/__pycache__/
deckeditor/dbload/__pycache__/
deckeditor/notifications/__pycache__/
/deckeditor/resources/font/icomoon.zip
deckeditor/cardview/__pycache__/

deckeditor/resources/U.svg
deckeditor/resources/icomoon/
deckeditor/context/__pycache__/
deckeditor/generate/__pycache__/
deckeditor/resources/U.png
deckeditor/resources/icomoon.ttf
decks/
